@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
      url('fonts/HelveticaNeueCyr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



.circle {
  position: relative;
  display: flex;
  justify-items: center;
  border-radius: 50%;
  width: 55%;
  height: auto;
  padding-top: 55%;
  background: #3AAFC9;
  color: white;
  right: 25%
  }